/*================Сброс css======================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=================Сетка=================*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box; /*Префикс для Chrome*/
     -moz-box-sizing: border-box; /*Префикс для Mozlila*/
          box-sizing: border-box;
				}
/*====================Фон============================*/

body {
  background:	url(images/wall.jpg) no-repeat center center fixed;
  background-size: auto 100%;
	height: 100vh;
}
/*=======================Шрифты==========================*/

body {
	font-family: "IBM Plex Serif", Helvetica, Arial, serif;
	color: #FAEBD7;
}
#logo {
	font-family: "Bad Script", Helvetica, Arial, sans-serif;
	font-size: 2em;
}
.nav-main a {
	font-size: 1.2em;
	letter-spacing: 0.07em;

}
h2, h3, h4 {
	text-transform: uppercase;
	color: #DCDCDC;
	margin: 1em;
	letter-spacing: .05em;
	text-shadow: 1px 1px 1px #000000;
}
h3 {
	font-size: 1.2em;
}
h2 {
	font-size: 1.3em;
}
.about {
	display: block;
	width: 80%;
	margin: 1em auto;
	text-shadow: .8px .8px .8px #000000;
}

/*===================Навигация и логотип=============*/
nav li {
	display: block;
	width: 15em;
	padding: .5em 2em;
	border-top: 1px solid #FAEBD7;

}
nav li:last-child {
	border-bottom: 1px solid #FAEBD7;
}
a {
	text-decoration: none;
	color: #66CDAA;
}
a:hover {
	color: #FAEBD7;
}
.active-page {
	padding-left: 1.5em;
	color: #FAEBD7
}
.nav-main {
	width: 100%;
}
#logo a {
	color: #5F9EA0;
	display: block;
	margin: 45px 0 0 20px;
}
#logo a:hover {
	color: #2E8B57;
}

/*==============Контакты================*/
.contacts {
	margin-top: 50px;
}
.contacts p {
	padding: 10px;
	text-shadow: .5px .5px .5px #000000;
}
.map {
	margin-left: 10px;
	width: 300px;
	height: 200px;
	border-radius: 5px;
	box-shadow: 0 0 5px #000000;
}
/*=============Фотографии работ===========*/
.our_work {
	margin-top: 20px;
	margin-left: 50px;
}
.our_work p {
	text-shadow: .8px .8px .8px #000000;
	width: 80%;
	margin: 1em auto;
}
.our_work img {
	width: 100px;
	height: auto;
	border-radius: 5px;
	box-shadow: 0 0 10px #000000;
	margin: 10px;
}
.example {
	transition: 1s;
}
.example:hover {
	transform: scale(2);
}
